<%= stylesheet_link_tag  "application" %>
<head>
  <title>Shelters</title>
<style>
  
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
</style>
</head>

<body>
  <article>
    <h1>All Shelters</h1>  
  </article>
  <aside>
    <button class="button"><a href="/shelters/new">New Shelter</a></button>
  </aside>
  <section>
    <% @shelters.each do |shelter| %>
        <h3 class="div1"><a href="/shelters/<%= shelter[:id]%>"><%= shelter.name%></a></h3>
      <%end%>
  </section>
</body>
