<%= stylesheet_link_tag  "application" %>
<head>
  <style>
    body{
      text-align: center;
    }
  </style>
</head>

<body>  
  <form action="/shelters" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Shelter Name</p>
    <input type='text' name='shelter[name]'/><br/>
    <p>Shelter Address</p>
    <input type='text' name='shelter[address]'/><br/>
    <p>City</p>
    <input type='text' name='shelter[city]'/><br/>
    <p>State</p>
    <input type='text' name='shelter[state]'/><br/>
    <p>Zip</p>
    <input type='text' name='shelter[zip]'/><br/>
    <input type='submit'/>
  </form>
</body>