
<head>
<title>Create New Shelter</title>

  <style>
    body{
      text-align: center;
    }
    .button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button {background-color: royalblue;}
  </style>
</head>

<body>  
  <form action="/shelters" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Shelter Name</p>
    <input type='text' name='shelter[name]'/><br/>
    <p>Shelter Address</p>
    <input type='text' name='shelter[address]'/><br/>
    <p>City</p>
    <input type='text' name='shelter[city]'/><br/>
    <p>State</p>
    <input type='text' name='shelter[state]'/><br/>
    <p>Zip</p>
    <input type='text' name='shelter[zip]'/><br/>
    <input class="button" id="submit_button" type='submit'/>
  </form>
</body>