<%= stylesheet_link_tag  "application" %>

<style>
h1 {
  text-align: center;
}
nav{
  background-color: blue;
}
ul {
      list-style-type: none;
      padding: 15;
      text-align: center;
    }
li {
      display: inline;
      padding: 150;
      color: grey;
    }
</style>

<Body>
<header>
  <h1>Welcome to the Adopt Don't Shop</h1>
</header>
<nav>
  <ul>
    <li><a href="/shelters">Shelters</a></li>
    <li><a href="/pets">Pets</a></li>
  </ul>
</nav>
</body>
