/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body{
    background-color: rgb(24, 24, 24);
  }
  h1 {
    color: White;
  }
  h3{
    color: white;
  }
  h4 {
    color: white;
  }
  p {
    color: white;
  }
  form {
    display: inline-block;
  }
  header {
    border-color: royalblue;
    border-width: 5px;
    border-style: solid;
  }
  

  a:link {
    text-decoration: none;
    color: white;
  }
a:visited {
    text-decoration: underline;
    color: grey;
  }
a:hover {
text-decoration: underline;
}
ul {
  list-style-type: none;
  padding: 15;
  text-align: center;
}
li {
  display: inline;
  padding: 150;
  color: grey;
}
nav{
  background-color: royalblue;
}